<?xml version="1.0"?>



  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-RepoWebsite-4ad464c5-6355-4a44-b018-e11ba19ef6d0;AttachDbFilename=|DataDirectory|\aspnet-RepoWebsite-4ad464c5-6355-4a44-b018-e11ba19ef6d0.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="EatIn" connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=SSPI"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  

